<!-- <div class="flex">
    <app-sidebar />

    <div class="bg-main2 h-screen w-[calc(100vw-260px)] px-5 pb-5 overflow-y-auto">
    <div class="bg-main2 h-screen w-[calc(100vw)] px-5 pb-5 overflow-y-auto">
        <app-header />

        <div class="">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<div class="bg-main2 h-screen w-[calc(100vw)] overflow-y-auto">
    <app-header />

    <div class="px-5 pb-5 mt-25">
        <router-outlet></router-outlet>
    </div>
</div>